source_data/ndop/
source_data/env/
source_data/admin/
source_data/historical_data.gpkg
qgis/map.qgz
results/sp_env_meta.RDS
results/vif.RDS
plots/
processed_data/*
!processed_data/pass_o_origins.gpkg
!processed_data/pass_o.gpkg
!processed_data/pass_div.gpkg
!processed_data/lcps_o_origins.gpkg
!processed_data/lcps_o.gpkg
!processed_data/lcp_div.gpkg
!processed_data/geo_o_origins.gpkg
!processed_data/geo_o.gpkg
!processed_data/geo_div.gpkg
!processed_data/rDiv_B.tif
!processed_data/rDiv_A.tif
scripts/spatial_thin_log.txt
scripts/.Rhistory
scripts/sdm_ensemble_*
scripts/clean_pk_data.R
scripts/report.R
scripts/report_results.R
scripts/report_results.html
scripts/srtm_test.R
source_data/pk/data.zip
